#page_flavor_div {
    background-color: #ffffff;
    border-radius: 5%;
    margin-left: 78vw;
    margin-top: 3vh;
    width: 20vw;
    position: absolute;
    height: 22vh;
    max-height: 92px;
}

#page_flavor_div p {
    font-size: 2.4vw;
    font-family: "Serif", "Times New Roman", "Arial";
    color: #310064;
    text-align: center;
}

.field_container {
    width: 18vw;
    height: 68vh;
    background-color: #c0c0c0;
    
    position: absolute;
    top: 136px;
}

.field_container#exercise {
    left: 20vw;
}

.field_cabaret {
    height: 8vh;
    width: 100%;
    background-color: #6c3e8a;

    position: relative;
}

.field_cabaret p {
    font-size: 28px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-family: "Serif", "Times New Roman", "Arial";

    text-align: center;
    top: 8%;
    position: relative;
}

.field_space {
    height: 46vh;
    width: 100%;

    position: relative;
}

.field_space .option {
    background-color: #d3ade2;
    border-style: none;
}

@keyframes fs_option_hover {
    from {background-color: #d3ade2;}
    to {background-color: #863aa3;}
}

.field_space#exercise .option:hover,
.field_space#count .option:hover,
.field_space#reps .option:hover {
    background-color: #863aa3;
    animation-name: fs_option_hover;
    animation-duration: 0.25s;
}

.field_space#exercise .option:active,
.field_space#exercise .option:focus,
.field_space#count .option:active,
.field_space#count .option:focus,
.field_space#reps .option:active,
.field_space#reps .option:focus {
    background-color: #863aa3;
}

.field_space#exercise .option {
    height: 7vw;
    width: 7vw;
    margin-left: 1vw;
    margin-top: 2vh;
    margin-right: 1vw;

    position: absolute;
}

.field_container#count {
    left: 42vw;
    height: 30vh;
}

.field_space#count .option {
    height: 2.6vw;
    width: 2.6vw;
    margin-left: 2.4vw;
    margin-top: 2vh;
    margin-right: 0.4vw;
    font-size: 1.2vw;

    position: absolute;
}

.field_container#reps {
    left: 42vw;
    height: 30vh;
    top: 59.5vh;

    display: flex;
    flex-direction: column;
}

.field_space#reps .option {
    height: 20.0vh;
    width: 4.0vw;
    margin-left: 0.2vw;
    margin-top: 0.5vw;
    font-size: 1.6vw;

    /* position: absolute; */
}

.field_container#preview {
    left: 64vw;
}

.field_space#preview .option {
    width: 14vw;
    height: 14vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 5vh;

    background-color: #bd9cc8;
}

#go_back {
    font-size: 2.4vw;
    font-family: "Serif", "Times New Roman", "Arial";
    color: #310064;
    text-align: center;

    margin-top: 80vh;
    margin-left: 2.5vw;
}

#routine_start:hover {
    background-color: #808080;
    color: #000000;
}

#routine_start {
    font-size: 275%;
    font-family: "Serif", "Times New Roman", "Arial";
    color: #ffffff;
    background-color: #400070;
    text-align: center;
    
    height: auto;
    width: 28%;
    
    position: absolute;
    margin-left: 64.8vw;
    margin-top: 49vh;
    transform: rotate(-90deg);
}

#routine_start:hover {
    background-color: #602090;
    color: #c0c0c0;
}