.property-default {
    position: relative;
    width: 1470px;
    height: 1000px;
    background-color: #2b1c55;
  }
  
  .property-default .overlap-group {
    position: absolute;
    width: 384px;
    height: 112px;
    top: 831px;
    left: 984px;
    background-color: #ffffff;
    border-radius: 23px;
  }
  
  .property-default .text-wrapper {
    position: absolute;
    width: 318px;
    top: 14px;
    left: 31px;
    font-family: "Gupter-Bold", Helvetica;
    font-weight: 700;
    color: #2b1c55;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .property-default .logo-no-background {
    position: absolute;
    width: 811px;
    height: 469px;
    top: 221px;
    left: 301px;
  }
  
  .property-default .image {
    position: absolute;
    width: 253px;
    height: 100px;
    top: 23px;
    left: 1187px;
  }

  .property {
    position: relative;
    width: 1470px;
    height: 1000px;
    background-color: #2b1c55;
  }
  
  .property .group {
    left: 121px;
    position: absolute;
    width: 541px;
    height: 183px;
    top: 512px;
  }
  
  .property .overlap-group {
    position: relative;
    width: 539px;
    height: 183px;
    background-color: #ffffff;
    border-radius: 23px;
  }
  
  .property .text-wrapper {
    position: absolute;
    width: 444px;
    top: 15px;
    left: 49px;
    font-family: "Gupter-Bold", Helvetica;
    font-weight: 700;
    color: #2b1c55;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .property .overlap-wrapper {
    left: 780px;
    position: absolute;
    width: 541px;
    height: 183px;
    top: 512px;
  }
  
  .property .logo-no-background {
    position: absolute;
    width: 311px;
    height: 178px;
    top: 143px;
    left: 564px;
  }
  
  .property .image {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 43px;
    left: 1230px;
  }

  .desktop {
    position: relative;
    width: 1470px;
    height: 1000px;
    background-color: #2b1c55;
  }
  
  .desktop .group {
    position: absolute;
    width: 624px;
    height: 73px;
    top: 346px;
    left: 409px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 622px;
    top: 0;
    left: 0;
    font-family: "Gupter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .div-wrapper {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 692px;
    left: 625px;
  }
  
  .desktop .div {
    position: absolute;
    width: 190px;
    top: 0;
    left: 0;
    font-family: "Gupter-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .logo-no-background {
    position: absolute;
    width: 284px;
    height: 137px;
    top: 54px;
    left: 54px;
  }
  
  .desktop .image {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 43px;
    left: 1194px;
  }
  
  .desktop .overlap-group {
    position: absolute;
    width: 674px;
    height: 168px;
    top: 501px;
    left: 167px;
  }
  
  .desktop .image-6 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 432px;
  }
  
  .desktop .image-2 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 216px;
  }
  
  .desktop .image-3 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
  }
  
  .desktop .group-2 {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 720px;
    left: 180px;
  }
  
  .desktop .group-3 {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 720px;
    left: 396px;
  }
  
  .desktop .group-4 {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 720px;
    left: 612px;
  }
  
  .desktop .image-4 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 648px;
  }
  
  .desktop .group-5 {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 720px;
    left: 828px;
  }
  
  .desktop .image-5 {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0px;
    left: 864px;
  }

  .desktop .group-6 {
    position: absolute;
    width: 192px;
    height: 51px;
    top: 720px;
    left: 1044px;
  }