<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    />
    <title> {% block title %} FitQuest {% endblock %} </title>
    {% if is_homepage %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
    {% elif template == 2 %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fitquest_template_2.css') }}">
    {% else %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fitquest_template.css') }}">
    {% endif %}
    <!-- Imported Bootstrap elements for enhanced webpage development -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous"
    />
    {% block header_data %}
    {% endblock %}
</head>
<body>
    <div id="container">
    {% if template == 2 %}
        <div id="page_logo"></div>
    {% endif %}
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>