{% extends "fitquest_template.html" %}
{% block title %}
    FitQuest: Ready in {{timeout}}
{% endblock %}
{% block header_data %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ready_screen.css') }}">
{% endblock %}
{% block content %}
<div id="ready_text">
    Ready in
</div>
<div id="countdown_text">{{timeout}}</div>
<script>
    const timer = setInterval(() => {
        let elem        = document.getElementById("countdown_text");
        var text_num    = parseInt(elem.innerHTML);

        text_num       -= 1;
        elem.innerHTML  = text_num.toString();
        document.title  = "FitQuest: Ready in " + elem.innerHTML;
        if (text_num > 0) {
            return;
        }
        clearInterval(timer);
    }, 1000)
</script>
{% endblock %}