{% extends "fitquest_template.html" %}
{% block title %}
    FitQuest: Choose user profile
{% endblock %}
{% block header_data %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_login.css') }}">
{% endblock %}
{% block content %}
<div id="flavor_text">
    WHO'S EXERCISING?
</div>
<div id="user_container">
    {% for i in range(1, 6) %}
    <div class="user_widget" id="user_widget_{{i}}">
    <a href="/user_id={{i}}">
        <img src="/static/default_user_icon.png" alt="Default User Icon" class="img-fluid">
    </a>
    <div class="user_flavor_text">
        User {{i}}
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}