#page_flavor_text {
    font-size: 275%;
    font-family: "Serif", "Times New Roman", "Arial";
    color: #310064;
    text-align: center;

    background-color: #ffffff;
    border-radius: 5%;
    
    margin-left: 67.5%;
    margin-top: 2%;
    width: 30%;
}
#interactible_container {
    margin-top: -20%;
    margin-left: 20%;
    margin-right: 20%;
    /* width: max-content; */
}
    .routine_widget {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
        
        position: absolute;
        width: 55%;
        height: 75%;

        background-image: url("/static/routine_widget.png");
        background-size: cover;
    }

#routine_start {
    position: sticky;

    font-size: 275%;
    font-family: "Serif", "Times New Roman", "Arial";
    color: #ffffff;
    background-color: #400070;
    text-align: center;
    
    height: auto;
    width: 28%;
    
    margin-left: 80.4%;
    margin-top: 14%;
    transform: rotate(-90deg);
}